/*主体公共样式*/
.public-div{
    min-height: 640px;
}
.public-div>div{
    width: 975px;
    margin: 30px auto;
}

.public-div>div>p{
    font-size: 14px;
    color: #091736;
    line-height: 24px;
    padding: 21px 36px 30px;
}

/*审核意见*/
.audit-opinion{
    width: 975px;
    background: #FFF6E7;
    color: #F95755;
    padding-left: 31px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.audit-opinion>li{
    font-size: 16px;
    line-height: 24px;
}


.audit-opinion>li:first-child{
    font-size: 18px;
    margin-bottom: 20px;
}

/*步骤流程样式*/
.public-div>div.process-axis{
    background: #f7f7f7;
    height: 100px;
    margin-bottom: -30px;
}

.process-axis>ul{
    height: 100%;
    margin: 0 auto;
}

.process-axis>ul>li{
    width: 27%;
    height: 100%;
}

.process-axis>ul>li:nth-child(2){
    width: 46%;
}

.process-axis>ul>li>h3{
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 20px auto 10px;
    font-size: 14px;
    color: #424242;
    border-radius: 50%;
    border: 1px solid #D2D5D9;
}

.process-axis>ul>li>h3.active{
    border: 1px solid #276cfe;
    background: #276cfe;
    color: #fff;
}

.process-axis>ul>li>p{
    color: #091736;
}

.process-axis>ul>li>div{
    width: 314px;
    height: 1px;
    background: #D2D5D9;
    top: calc(50% - 10px);
}

.process-axis>ul>li:first-child>div{
    right: -204px;
}

.process-axis>ul>li:nth-child(2)>div{
    left: 245px;
}


.process-axis>ul>li>div.active{
    background: #276cfe;
}


.comm-div{
    width: 945px;
    margin: 0 auto 15px;
    padding: 10px 0;
}

#mortgage-con .group-p:first-child{
    visibility: hidden;
}

h4.comm-div{
    padding-top: 30px;
}

h4.comm-div>font{
    font-size: 16px;
    color: #000;
}

h4.comm-div>em{
    font-size: 16px;
    color: #F5A623;
}

.comm-div>div,
.comm-div>div.mortgage>div{
    margin-top: 20px;
    padding: 5px;
}

.comm-div h4{
    font-size: 16px;
    line-height: 20px;
    padding: 15px 3px;
    background: #f7f7f7;
}

.comm-div h4 em{
    color: #276CFE;
}

.comm-div h5{
    font-size: 14px;
    color: #A2ABBA;
    letter-spacing: 0;
    line-height: 24px;
}

.comm-div span{
    display: inline-block;
    width: 150px;
    font-size: 14px;
    color: rgba(0,0,0,0.87);
    letter-spacing: 0;
    line-height: 24px;
    vertical-align: middle;
    margin-right: 20px;
}

.comm-div span.more{/*展开发票*/
    font-size: 16px;
    color: #276CFE;
    margin-right: 5px;
    cursor: pointer;
}

a.immediately{/*立即认证*/
    font-size: 14px;
    color: #276CFE;
    letter-spacing: 0;
    line-height: 24px;
}

#isVideoAuthBtn{
    width: 100px;
    height: 36px;
    background: #276cfe;
    border: none;
    color: #efefef;
    cursor: pointer;
    border-radius: 5px;
    letter-spacing: 2px;
    margin-left: 20px;
}

em.contract{
    color: #A2ABBA;
}

img.rotate{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); 	/* IE 9 */
    -moz-transform:rotate(180deg); 	/* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg); 	/* Opera */
    vertical-align: middle;
}

.comm-div span.tc{
    font-size: 16px;
    color: #091736;
    letter-spacing: 0;
}

.comm-div input[type="text"],
.comm-div input[type="number"]{
    width: 395px;
    height: 36px;
    border: 1px solid #E3E7EA;
    padding: 0 10px;
}

#taxNum{/*限制只能输入大写*/
    text-transform: uppercase;
}

.comm-div input[type="checkbox"]{
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.comm-div a.blank{
    color: #0099ff;
    font-size: 14px;
}


.comm-div input:focus,
.open-an-account-con input:focus{
    border: 1px solid #276cfe;
}

small{
    display: inline-block;
    width: 417px;
    color: #ACACAC;
    font-size: 14px;
    margin: 10px 0 0 175px;
}

.comm-div input.disabled{
    background: #fafafa;
    border: none;
    color: rgba(0,0,0,0.87);
}
.comm-div input.disab-ipt{
    width: 250px;
}


.comm-div input.Wdate{
    width: 175px;
    background: none;
    background: url("../img/Date.png") no-repeat right center;
}

.comm-div select{
    width: 111px;
    height: 36px;
    margin: -4px 5px 0 3px;
    border: 1px solid #E3E7EA;
    padding-left: 5px;
}

.comm-div select.select{
    padding: 0 10px;
    width: 417px;
    border: 1px solid #E3E7EA;
    margin-left: 0;
}

.comm-div div.file{
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

div.file div.pr{
    overflow: hidden;
}

.comm-div img{
    width: 180px;
    height: 116px;
    line-height: 116px;
    vertical-align: top;
}

.comm-div img.yzm {
    width: 120px;
    height: 40px;
    vertical-align: middle;
}
#btnSMS{
    width: 137px;
    height: 36px;
    border: 1px solid #276CFE;
    color: #276CFE;
    background: none;
}

p.group-p{
    cursor: pointer;
    font-size: 14px;
    color: #757575;
}

.comm-div img.group{/*删除图标*/
    width: 11px;
    height: 14px;
    margin-right: 5px;
    vertical-align: middle;
}

.view-img{
    margin-left: 20px;
    overflow: hidden;
}

.view-img>img{
    vertical-align: middle;
}

.mask{
    width: 180px;
    height: 116px;
    left: 0;
    top: -116px;
    background: rgba(0,0,0,.5);
    /*transition: all 400ms ease-in-out;*/
}

/*div.pr:hover div.mask{
    top: 0;
}*/

.mask button{
    background: none;
    border: none;
    color: #c2c2c2;
    font-size: 14px;
    cursor: pointer;
}

.mask button:hover{
    color:#fff;
}

.mask-del{
    margin-top: 29px;
}

.comm-div img.more-img{
    width: auto;
    height: auto;
    vertical-align: middle;
}

.comm-div img.question-mark{
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.file-ipt2{
    margin-bottom: 20px;
}

.protocol label{/*协议*/
    display: block;
    height: 27px;
    line-height: 27px;
    font-size: 12px;
}

h2.tc-con{
    margin: 45px 0 60px;
}

button.btn-prev,
button.btn-next{
    width: 118px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #276CFE;
    border-radius: 2px;
    font-size: 14px;
    letter-spacing: 0;
    cursor: pointer;
    color: #276CFE;
    background: #fff;
}

button.active{
    color: #fff;
    background: #276CFE;
}

.public-div hr{
    background: #E3E7EA;
    margin-top: 12px;
}

/*二维码付款页面*/
.public-div h3.think-change{
    font-size: 14px;
    margin-top: 100px;
    color: #424242;
}

.public-div h3{
    font-size: 16px;
    color: #091736;
    line-height: 28px;
}
.public-div h3.think-change-title{
    margin-top: 45px;
    color: #276CFE;
}

.public-div h4.tc{
    color: #091736;
    line-height: 28px;
    font-size: 16px;
}

img.code{
    width: 258px;
    height: 258px;
    margin-top: 40px;
}

div.way{
    width: 320px;
    top: 100px;
    right: 120px;
    font-size: 20px;
    line-height: 50px;
}

div.way>h3{
    font-size: 20px;
}

div.way img{
    vertical-align: middle;
    margin-right: 30px;
    padding-left: 130px;
}

a.download{
    font-size: 14px;
    color: #276CFE;
    vertical-align: middle;
    margin-left: 5px;
}
a.download-a{
    position: relative;
    display: block;
    margin: -50px 40px 0 365px;
    z-index: 1;
}

label.pledge-mas,
p.pledge-mas{
    font-size: 14px;
    color: #696969;
    letter-spacing: .1px;
}
label.pledge-mas{
    display: block;
    padding-top: 12px;
}
p.pledge-mas{
    margin-top: 140px;
    padding-left: 173px;
    line-height: 20px;
}


a.details{
    font-size: 14px;
    color: #276cfe;
    vertical-align: middle;
    margin-left: 30px;
}

a.downloadCompanyDelFile{
    vertical-align: text-bottom;
}

/*企业信用报告查询办法 问号？*/
.layui-layer-content div.shell-con{
    padding: 30px !important;
}
.layui-layer-content p{
    color: #424242 !important;
    font-size: 14px !important;
    line-height: 24px !important;
}

/*开户css*/
.public-div>div.open-an-account-con{
    padding: 150px 0;
}

.open-an-account-con>form>div{
    width: 58%;
    margin: 0 auto;
}

.open-an-account-con span.tr{
    width: 115px;
    font-size: 14px;
    color: #424242;
    line-height: 20px;
    display: inline-block;
}
.open-an-account-con input{
    width: 275px;
    height: 40px;
    border: 1px solid #E3E7EA;
    padding-left: 10px;
}

.btn-account{
    width: 226px;
    height: 66px;
    background: #276CFE;
    border-radius: 4px;
    font-size: 18px;
    color: #FFF;
    letter-spacing: -.41px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
/*开户end*/

#payment{/*支付宝支付按钮*/
    width: 118px;
    height: 36px;
    margin: 25px auto;
    display: block;
    line-height: 36px;
    background: #276cfe;
    color: #fff;
    font-size: 14px;
}

p.note{
    font-size: 14px;
    color: #424242;
}

/*视频认证弹层样式*/
#shell{
    display: flex;
    align-items: center;
}
#shell>img{
    width: 55px;
    margin: 0 36px;
}
#shell h3{
    color: #ff0000;
    line-height: 25px;
    font-size: 16px;
}
#shell p{
    color: #494859;
    line-height: 23px;
    font-size: 15px;
}
button#success-btn,
button#error-btn{
    background: #ff0000;
    margin: 5px 15px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.personAddSuccess,
.attest{
    font-size: 14px;
    color: #424242;
    letter-spacing: 1.85px;
}

.comm-div>div.attest{
    padding-bottom: 120px;
}

.personAddSuccess img{
    width: auto;
    height: auto;
    display: block;
    margin: 100px auto 0;
}

.personAddSuccess h3{
    color: #424242;
    line-height: 70px;
}

.personAddSuccess p,
.attest p{
    line-height: 30px;
}

.attest p{
    width:535px;
}

.attest h2{
    padding: 59px 0 105px 90px;
}

.attest h2 small{
    width: 66px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 2px;
    color: #F5A623;
    font-size: 12px;
    margin-left: 13px;
}
.attest h2 small.attest-ing{
    color: #F5A623;
    border: 1px solid #F5A623;
}
.attest h2 small.attest-error{
    color: #F83737;
    border: 1px solid #F83737;
}

/*底部样式*/
.footer{
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-pi{
    position: inherit;
}