<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="haohao-asset-admin"/>
    <!-- 使用zookeeper注册中心暴露服务地址 -->
    <dubbo:registry address="${zookeeper.address}" check="false"/>
    <!-- 扫描注解包路径，多个包用逗号分隔，不填pacakge表示扫描当前ApplicationContext中所有的类 -->
    <dubbo:annotation package="com.haohao.asset.service.impl"/>
    <!-- 消费者的公共配置 -->
    <dubbo:consumer check="false" timeout="30000" retries="0"/>

    <import resource="consumer.xml"></import>

</beans>