<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haohao.permission.mapper.RoleMapper" >

  <resultMap id="BaseResultMap" type="com.haohao.permission.model.vo.RoleVO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, role_name, enable, create_time
  </sql>

  <!--修改role abner-->
  <update id="update" parameterType="com.haohao.permission.model.po.RolePO" >
    UPDATE tt_role
    <set >
      <if test="roleName != null" >
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>

  <!--新增role abner-->
  <insert id="save" parameterType="com.haohao.permission.model.po.RolePO" >
    INSERT INTO tt_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roleName != null" >
        role_name,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <!--根据参数查询role abner-->
  <select id="getRole" resultMap="BaseResultMap" parameterType="com.haohao.permission.model.cond.RoleCond">
    SELECT * FROM tt_role
    <where>
      <if test="roleName != null" >
        AND role_name = #{roleName,jdbcType=VARCHAR}
      </if>
      <if test="id != null" >
        AND id = #{id,jdbcType=INTEGER}
      </if>
    </where>
    ORDER BY id ASC
    limit 0,1
  </select>

  <!--根据条件查询roleList abner-->
  <select id="getList" resultMap="BaseResultMap" parameterType="com.haohao.permission.model.cond.RoleCond">
    SELECT * FROM tt_role
    <where>
      <if test="enable != null" >
        AND enable = #{enable,jdbcType=INTEGER}
      </if>
    </where>
    ORDER BY id ASC
  </select>

</mapper>