/*
 * ������ʽ
 */

* {
	margin: 0;
	padding: 0;
}
html, body {
	width: 100%;
	height: 100%;
}
a {
    cursor:pointer;
}
.layui-table-cell .layui-form-checkbox[lay-skin="primary"] {
	top:5px !important;
}
.box {
	width: 100%;
	overflow: auto;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.box .header {
	width: calc(100% - 40px);
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 59px;
	background: #47505E;
}
.box .header .logo {
	font-size: 20px;
	line-height: 1;
	color: #fff;
}
.box .header .login {
	display: flex;
	align-items: center;
	font-size: 16px;
	color: #fff;
}

.box .conten {
	width: 100%;
	display: flex;
	align-items: center;
}
.box .conten .nav {
	display: flex;
	flex-direction: column;
	min-width: 180px;
	background: #47505E;
}
.box .conten .right_content {
	width: calc(100% - 40px);
	padding: 20px;
	display: flex;
	flex-direction: column;
	background: #EAEEF9;
}
.box .top_title {
	width: 100%;
	display: flex;
	align-items: center;
	font-size: 14px;
	color: #666;
	line-height: 1;
	margin-bottom: 15px;
}

.box .conten .right_content .form_conten, .box .conten .right_content .table_conten {
	width: calc(100% - 30px);
	padding: 0 15px	;
	background: #fff;
	border-radius: 4px;
	margin-bottom: 10px;
}
.box .conten .right_content .form_conten .layui-form-item {
	margin-bottom: 0px;
}
.box .conten .right_content .form_conten .layui-form-item .layui-inline {
	margin-bottom: 5px;
	margin-top: 10px;
}
.box .conten .right_content .form_conten .layui-form-item .layui-inline .layui-form-label {
	padding-left: 0;
	padding-right: 10px;
	width: 70px;
	min-width: 70px;
}
.box .conten .right_content .form_conten .layui-form-item .layui-inline .layui-input-inline {
	margin-right: 0;
}
.box .conten .right_content .form_conten .layui-form-item .layui-inline .layui-form-mid {
	margin: 0 5px;
}
.box .conten .right_content .form_conten .button_item {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.box .conten .right_content .form_conten .layui-form-item .layui-btn {
	margin: 10px;
	line-height: 1;
	height: 34px;
	border-radius: 4px;
}

.box .conten .right_content .form_conten .all_list {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	border: 1px solid #E4E4E4;
	border-radius: 4px;
	margin-bottom: 20px;
}
.box .conten .right_content .form_conten .all_list .all_title {
	min-height: 40px;
	font-size: 16px;
	color: #333;
	line-height: 1;
	display: flex;
	align-items: center;
	padding-left: 15px;
}
.box .conten .right_content .form_conten .all_list .all_check {
	display: flex;
	align-items: center;
	flex-grow: 1;
	flex-wrap: wrap;
	padding: 10px 15px;
	border-top: 1px solid #E4E4E4;
}
.box .conten .right_content .form_conten .all_list .all_check span {
	min-width: 150px;
	font-size: 14px;
	color: #333;
	line-height: 1;
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	margin-right: 10px;
}
.box .conten .right_content .form_conten .all_list .all_check span label {
	width: 13px;
	height: 13px;
	border: 1px solid #49BFB7;
	margin-right: 8px;
}
.box .conten .right_content .form_conten .all_but {
	width: calc(100% - 30px);
	padding: 10px 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.box .conten .right_content .form_conten .all_but .checkAll {
	font-size: 14px;
	color: #333;
	line-height: 1;
	display: flex;
	align-items: center;
}
.box .conten .right_content .form_conten .all_but .checkAll label {
	width: 13px;
	height: 13px;
	border: 1px solid #49BFB7;
	margin-right: 8px;
}
.box .conten .right_content .form_conten .all_but button {
	color: #49BFB7;
	font-size: 16 px;
	padding: 9px 22px;
	border: 1px solid #49BFB7;
	background: #fff;
	border-radius: 4px;
	box-shadow: none;
	margin: 0 14px;
}
.box .conten .right_content .form_conten .all_but button:hover {
	color: #fff;
	background: #49BFB7;
}
.box .conten .right_content .form_conten .cheched {
	width: 15px;
	height: 15px;
	border: none;
	background: url(../image/check.png) no-repeat;
	background-size: 100%;
}


/*
 * 详情
 */

.box .details_content {
	width: calc(100% - 40px);
	padding: 20px;
	display: flex;
	flex-direction: column;
	background: #EFF3F9;
}
.box .information_top {
	width: 100%;
	padding: 29px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
}
.box .information_top button {
	color: #49BFB7;
	font-size: 16 px;
	padding: 9px 22px;
	border: 1px solid #49BFB7;
	background: #fff;
	border-radius: 4px;
	box-shadow: none;
	margin: 0 14px;
}
.box .information_top button:hover {
	color: #fff;
	background: #49BFB7;
}

.box .details_content .information_list {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 25px;
}
.box .details_content .message_list {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 25px;
	background: #fff;
}
.box .details_content .information {
	width: calc(50% - 13px);
	border: 1px solid #E9E9E9;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
}
.box .details_content .information_list .information_title, .box .details_content .message_list .information_title {
	display: flex;
	align-items: center;
	width: calc(100% - 20px);
	padding-left: 20px;
	min-height: 60px;
	background: #F6F8FC;
	border-bottom: 1px solid #E9E9E9;
	color: #46545F;
	font-size: 16px;
	line-height: 1;
}
.box .details_content .information .information_content {
	width: calc(100% - 40px);
	padding: 20px;
	background: #fff;
}
.box .details_content .information .information_content .loan_list {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.box .details_content .information .information_content span {
	min-width: 180px;
	color: #46545F;
	font-size: 14px;
	line-height: 1;
	margin-bottom: 15px;
}

.box .details_content .information .information_content .correlation_top {
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 14px;
	border-bottom: 1px solid #f4f4f4;
}
.box .details_content .information .information_content .correlation_list {
	width: 100%;
	display: flex;
	align-items: center;
}
.box .details_content .information .information_content .correlation_list:last-child span {
	margin-bottom: 0;
}

.box .details_content .information .information_content .subscriber_top, .box .details_content .information .information_content .subscriber_bottom {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.box .details_content .information .information_content .subscriber_list {
	display: flex;
	flex-direction: column;
}
.box .details_content .information .information_content .subscriber_bottom {
	border-top: 1px solid #f4f4f4;
	padding-top: 15px;
}
.box .details_content .information .information_content .phone_top {
	margin-bottom: 20px;
	border-bottom: 1px solid#F4F4F4;
}
.box .details_content .information .information_content .phone_bottom {
	margin-top: 20px;
	margin-bottom: 100px;
}
.box .details_content .information .information_content .phone_list {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.box .details_content .information .information_content .phone_list .remark {
	margin-bottom: 15px;
}
.box .details_content .information .information_content button {
	margin-bottom: 15px;
	color: #49BFB7;
	font-size: 14px;
	line-height: 1;
	padding: 4px 10px;
	border: 1px solid #49BFB7;
	box-shadow: none;
	border-radius: 4px;
	background: #fff;
}
.box .details_content .information .information_content button:hover {
	background: #49BFB7;
	color: #fff;
}
.box .details_content .information .information_content .check_top, .box .details_content .information .information_content .check_bottom {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}
.box .details_content .information .information_content .check_bottom {
	margin-bottom: 0;
	padding-top: 15px;
	border-top: 1px solid #F4F4F4;
}
.box .details_content .information .information_content .check_list {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.box .details_content .information .information_content .check_list span {
	min-width: 288px;
}
.box .details_content .information .information_content .check_list label.remark {
	font-size: 14px;
	line-height: 1;
	color: #F04848;
	margin-bottom: 15px;
}
.box .details_content .information.orders .information_content {
	min-height: 460px;
	display: flex;
	flex-direction: column;
	overflow: auto;
}
.box .details_content .information_bottom {
	width: 100%;
	padding: 55px 0;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.box .details_content .information_bottom .bottom_limit span {
	color: #F04848;
	font-size: 24px;
	line-height: 1;
	margin-right: 53px;
}
.box .details_content .information_bottom .bottom_limit span:last-child {
	margin-right: 0;
}
.box .details_content .information_bottom .bottom_prompt {
	color: #ccc;
	font-size: 14px;
	line-height: 1;
	margin: 26px 0 52px;
}
.box .details_content .information_bottom button {
	color: #49BFB7;
	font-size: 16 px;
	padding: 11px 32px;
	border: 1px solid #49BFB7;
	background: #fff;
	border-radius: 4px;
	box-shadow: none;
}
.box .details_content .information_bottom button:nth-child(2) {
	margin: 0 45px;
}
.box .details_content .information_bottom button:hover {
	color: #fff;
	background: #49BFB7;
}

.box .details_content .basis .information_content {
	display: flex;
	justify-content: space-between;
	min-height: 233px;
}
.box .details_content .information .information_content .basis_list {
	display: flex;
	flex-direction: column;
}
.box .details_content .ID_card .information_content {
	min-height: 233px;
}

.box .details_content .information.ordersFrom .information_content  {
	display: flex;
	justify-content: space-between;
	min-height: 120px;
}

.box .conten .right_content .address {
	width: 100%;
	display: flex;
	flex-direction: column;
	background: #fff;
}
.box .conten .right_content .address .address_but {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 0;
}
.box .conten .right_content .address .address_but a {
	text-decoration: none;
	border: 1px solid #49BFB7;
	background: #fff;
	padding: 11px 22px;
	border-radius: 4px;
	box-shadow: none;
	font-size: 16px;
	line-height: 1;
	color: #49BFB7;
	margin: 0 10px;
}
.box .conten .right_content .address .address_but a.active {
	background: #49BFB7;
	color: #fff;
}

/*
 * 备注
 */
.hidden {
	display: none;
}
.remark_content {
	width: calc(100% - 30px);
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.remark_content .remark_list {
	width: 100%;
	margin-bottom: 20px;
	display: flex;
	align-items: flex-start;

}
.remark_content .remark_list .remark_label {
	padding: 0;
	line-height: 1.5;
	font-size: 14px;
	min-width: 80px;
	text-align: right;
	padding-top: 10px;
}
.remark_content .remark_list .state_radio {
	margin-left: 10px;
	display: flex;
	align-items: center;
	padding-top: 10px;
}
.remark_content .remark_list .state_radio span {
	font-size: 14px;
	line-height: 1.5;
	margin-right: 20px;
	display: flex;
	align-items: center;
}
.remark_content .remark_list .state_radio span label {
	width: 13px;
	height: 13px;
	border: 1px solid #49BFB7;
	border-radius: 50%;
	display: flex;
	margin-right: 8px;
}
.remark_content .remark_list .state_radio span label.radio_this {
	width: 15px;
	height: 15px;
	border: none;
	background: url(../image/radio.png) no-repeat;
	background-size: 100%;
}
.remark_content .remark_list textarea {
	width: calc(100% - 30px);
	min-height: 100px;
	padding: 10px 15px;
}
.lps-iframe {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.lps-iframe > iframe{
	width: 100%;
	height: 100%;
	background-color: #EAEEF9;
}

/*
 * �û�������ҳ
 */
.box .details_content .information_list .information_content .performance_top {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.box .details_content .information_list .information_content .performance_top span {
	min-width: 100px;
	min-height: 90px;
	padding: 0 10px;
	display: flex;
	margin-right: 10px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	background: #45A3FC;
	border-radius: 4px;
}
.box .details_content .information_list .information_content .performance_top span:nth-child(2) {
	background: #F46060;
}
.box .details_content .information_list .information_content .performance_top span:nth-child(3) {
	background: #49BFB7;
}
.box .details_content .information_list .information_content .performance_top span label {
	font-size: 16px;
	color: #FFF;
	line-height: 1;
}
.box .details_content .information_list .information_content .performance_top span label:first-child {
	font-size: 33px;
	margin-bottom: 5px;
}
.box .details_content .information_list .information_content .performance_top span:last-child {
	margin-right: 0;
	background: #917ABD;
}
.box .details_content .information_list .information_content .history_top {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.box .details_content .information_list .information_content .history_top .history_list {
	width: 25%;
	display: flex;
	flex-direction: column;
}
.box .details_content .information_list .information_content .history_top .history_list label {
	display: flex;
	justify-content: center;
	font-size: 14px;
	color: #49BFB7;
}

.box .details_content .statistics {
	width: 100%;
	overflow-x: auto;
	display: flex;
	flex-direction: column;
	background: #fff;
	margin-bottom: 15px;
}
.box .details_content .statistics .statistics_title {
	display: flex;
    align-items: center;
    width: calc(100% - 20px);
    padding-left: 20px;
    min-height: 50px;
    background: #F6F8FC;
    border-bottom: 1px solid #E9E9E9;
    color: #46545F;
    font-size: 16px;
    line-height: 1;
}
.box .details_content .statistics .contacts {
	width: calc(100% - 30px);
	padding: 15px;
	display: flex;
	flex-direction: column;
}
.box .details_content .statistics .statistics_table {
	width: calc(100% - 30px);
	padding: 15px;
}
.box .details_content .statistics .contacts .contacts_list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.box .details_content .statistics .contacts .contacts_list:first-child {
	border-bottom: 1px solid #EFF3F9;
	margin-bottom: 15px;
}
.box .details_content .statistics .contacts .contacts_list span {
	font-size: 14px;
	color: #46545F;
	line-height: 1;
	margin-bottom: 15px;
	min-width: 300px;
	margin-right: 10px;
}
.box .details_content .statistics .daily_button {
	width: calc(100% - 30px);
	padding: 25px 15px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.box .details_content .statistics .daily_button button {
	padding: 8px 16px;
	color: #49BFB7;
	font-size: 14px;
	line-height: 1;
	border: 1px solid #49BFB7;
	box-shadow: none;
	background: #fff;
	margin: 0 10px;
	border-radius: 4px;
}
.box .details_content .statistics .daily_button button:hover {
	background: #49BFB7;
	color: #fff;
}

.box .details_content .pie {
	width: 100%;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 15px;
	flex-wrap: wrap;
}
.box .details_content .pie .pie_list {
	height: 200px;
	width: 30%;
	display: flex;
	flex-direction: column;
}
.box .details_content .pie .pie_list .pie_title {
	font-size: 14px;
	color: #46545F;
	text-align: center;
	line-height: 1.8;
	margin: 5px 0;
}

.box .details_content .histogram {
	width: 100%;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 15px;
}
.box .details_content .histogram .histogram_list {
	height: 350px;
	width: 40%;
	display: flex;
	flex-direction: column;
}
.box .details_content .histogram .histogram_list .histogram_title {
	font-size: 14px;
	color: #46545F;
	text-align: center;
	line-height: 1.8;
	margin-top: 15px;
}
.layuihide{
	width:100%;
	border:1px solid #999;
}

.layuihide tr{
	height:40px;
	border-bottom:1px solid #999;
}

.layuihide td{
	text-align:center;
}

.layuihide td:first-child{
	width:35%;
	background:#f2f2f2;
	font-weight:bold;
	
}

.layuihide td:last-child{
	color:#999;
}

.box .conten .right_content .table_conten.xstable{
	width: calc(100% - 100px);
    padding: 40px 50px;
}

.xstable .layuihide{
	border:1px solid #f2f2f2;
}

.xstable .layuihide tr{
	border-bottom:1px solid #f2f2f2;
}
i.ready{
	margin-left: 8px;
	font-size: 25px;
	color: green;
}