<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haohao.mapper.auto.RiskExtraInfoMapper">
  <resultMap id="BaseResultMap" type="com.haohao.modelAndExample.RiskExtraInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="auth_type" jdbcType="VARCHAR" property="authType" />
    <result column="mobile_auth_status" jdbcType="VARCHAR" property="mobileAuthStatus" />
    <result column="net_duration" jdbcType="INTEGER" property="netDuration" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="order_address_num" jdbcType="INTEGER" property="orderAddressNum" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, source, order_id, auth_type, mobile_auth_status, net_duration, order_num, order_address_num, 
    create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.haohao.modelAndExample.RiskExtraInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from risk_extra_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="page">
      limit ${offset}, ${count}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from risk_extra_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from risk_extra_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.haohao.modelAndExample.RiskExtraInfoExample">
    delete from risk_extra_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.haohao.modelAndExample.RiskExtraInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into risk_extra_info (source, order_id, auth_type, 
      mobile_auth_status, net_duration, order_num, 
      order_address_num, create_time, update_time
      )
    values (#{source,jdbcType=VARCHAR}, #{orderId,jdbcType=INTEGER}, #{authType,jdbcType=VARCHAR}, 
      #{mobileAuthStatus,jdbcType=VARCHAR}, #{netDuration,jdbcType=INTEGER}, #{orderNum,jdbcType=INTEGER}, 
      #{orderAddressNum,jdbcType=INTEGER}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.haohao.modelAndExample.RiskExtraInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into risk_extra_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="source != null">
        source,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="authType != null">
        auth_type,
      </if>
      <if test="mobileAuthStatus != null">
        mobile_auth_status,
      </if>
      <if test="netDuration != null">
        net_duration,
      </if>
      <if test="orderNum != null">
        order_num,
      </if>
      <if test="orderAddressNum != null">
        order_address_num,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="authType != null">
        #{authType,jdbcType=VARCHAR},
      </if>
      <if test="mobileAuthStatus != null">
        #{mobileAuthStatus,jdbcType=VARCHAR},
      </if>
      <if test="netDuration != null">
        #{netDuration,jdbcType=INTEGER},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="orderAddressNum != null">
        #{orderAddressNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.haohao.modelAndExample.RiskExtraInfoExample" resultType="java.lang.Long">
    select count(*) from risk_extra_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update risk_extra_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.source != null">
        source = #{record.source,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.authType != null">
        auth_type = #{record.authType,jdbcType=VARCHAR},
      </if>
      <if test="record.mobileAuthStatus != null">
        mobile_auth_status = #{record.mobileAuthStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.netDuration != null">
        net_duration = #{record.netDuration,jdbcType=INTEGER},
      </if>
      <if test="record.orderNum != null">
        order_num = #{record.orderNum,jdbcType=INTEGER},
      </if>
      <if test="record.orderAddressNum != null">
        order_address_num = #{record.orderAddressNum,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update risk_extra_info
    set id = #{record.id,jdbcType=INTEGER},
      source = #{record.source,jdbcType=VARCHAR},
      order_id = #{record.orderId,jdbcType=INTEGER},
      auth_type = #{record.authType,jdbcType=VARCHAR},
      mobile_auth_status = #{record.mobileAuthStatus,jdbcType=VARCHAR},
      net_duration = #{record.netDuration,jdbcType=INTEGER},
      order_num = #{record.orderNum,jdbcType=INTEGER},
      order_address_num = #{record.orderAddressNum,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.haohao.modelAndExample.RiskExtraInfo">
    update risk_extra_info
    <set>
      <if test="source != null">
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="authType != null">
        auth_type = #{authType,jdbcType=VARCHAR},
      </if>
      <if test="mobileAuthStatus != null">
        mobile_auth_status = #{mobileAuthStatus,jdbcType=VARCHAR},
      </if>
      <if test="netDuration != null">
        net_duration = #{netDuration,jdbcType=INTEGER},
      </if>
      <if test="orderNum != null">
        order_num = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="orderAddressNum != null">
        order_address_num = #{orderAddressNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.haohao.modelAndExample.RiskExtraInfo">
    update risk_extra_info
    set source = #{source,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=INTEGER},
      auth_type = #{authType,jdbcType=VARCHAR},
      mobile_auth_status = #{mobileAuthStatus,jdbcType=VARCHAR},
      net_duration = #{netDuration,jdbcType=INTEGER},
      order_num = #{orderNum,jdbcType=INTEGER},
      order_address_num = #{orderAddressNum,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>